body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

.bg-image {
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-text {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 51%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 60%;
    padding: 20px;
    text-align: center;
    backdrop-filter: blur(5px);
    visibility: hidden;
}


/* =================================================================================================================== */

.bg-img {
    position: fixed;
    inset: 0% auto auto auto;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: linear-gradient(120deg, blue 70%, white 30%);
}

.user-name {
    box-shadow: inset 0px 0px 0px 0px #54b3d6;
    color: #54b3d6;
    transition: all 1s;
}

.user-name:hover {
    text-decoration: none;
    box-shadow: inset 500px 0px 0px 0px #54b3d6;
    color: white;
}

.my-img {
    position: absolute;
    top: 16%;
    left: 25%;
    width: 45%;
    height: 85%;
    margin: 0;
    border-radius: 100%;
    background: url('./../images/hasan.jpg') no-repeat;
    background-size: 100% 100%;
    transition: 1.4s all;
    cursor: pointer;
}

.my-img:hover {
    content: url('./../images/hasan2.jpg');
}

#nav-my-img {
    opacity: 0;
    transition: 1.4s all;
}