.bg-image {
    z-index: -10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(70%);
    background-image: linear-gradient(130deg, rgb(37, 37, 188) 60%, white 30%);
}

body {
    margin-top: 13%;
}

nav {
    display: flex;
    height: 100px;
    width: 100%;
    align-items: center;
    background-color: rgba(189, 189, 189, 0.863);
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
}

.navbar {
    display: inline;
}

nav .container .modal-dialog .modal-content {
    box-shadow: 0px 0px 50px white;
    border: 2px solid black;
    min-height: 300px;
}

.modal-body {
    text-align: center;
    font-family: roboto;
}

nav .know-status {
    box-shadow: none;
    font-family: monospace;
    background-color: transparent;
    border-radius: 5px;
    padding: 5px;
    transition: all 0.3s ease-in-out;
    border: none;
    font-size: 18px;
    color: white;
}


/*
.nav-bar.nav {
    z-index: 50;
} */

nav .know-status:hover {
    letter-spacing: 1.5px;
    background-color: black;
}

nav .container {
    width: 20%;
    margin: 0;
    align-items: center;
    padding: 0% 3%;
}

nav .user-img {
    width: 15%;
    height: 100%;
    text-align: center;
}

nav .user-img img {
    border-radius: 50%;
}

.container {
    position: relative;
}

.modal-body a {
    font-family: roboto, sans-serif;
    font-style: italic;
    margin-left: 5%;
}

.modal .modal-header .modal-title {
    font-size: 24px;
    font-family: roboto;
    font-weight: bolder;
}

.modal-title {
    margin-left: 7%;
}

nav>.nav-item {
    text-align: right;
    padding-right: 4%;
    align-self: center;
}

nav .nav-item a {
    text-decoration: none;
}

.dropdown-menu.show {
    text-align: center;
}

.modal-body .content {
    display: flex;
}

.modal-body .content .logo {
    width: 35%;
}

.modal-body .footer {
    margin-top: 5%;
}

.modal-body .info-detail a {
    text-decoration: none;
}

.content .logo .job-description {
    font-size: 17px;
    font-weight: bold;
}

.content .my-info {
    font-size: 14px;
    width: 60%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.content .my-info>.info {
    margin: 0;
    width: 100%;
}

.content .my-info p {
    margin: 0;
}

.content .my-info .info-head {
    position: relative;
}

.content .my-info .info-head img {
    margin: 0% 4%;
}

.my-info .info-head::before {
    content: "";
    position: absolute;
    top: 0;
    left: -8px;
    width: 2px;
    height: 200%;
    background-color: blue;
    display: inline-block;
}

.my-info .info-head::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -130%;
    width: 300px;
    height: 2%;
    background-color: grey;
    display: inline-block;
}

.my-info .info-head~.info-detail {
    text-indent: 16%;
}

.navbar-collapse {
    visibility: hidden;
}

.navbar {
    display: none;
}

.navbar-nav {
    display: none;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("./../images/more-icon.png")
}

.navbar-toggler:focus {
    box-shadow: none;
}

@media screen and (max-width: 1040px) {
    .navbar-nav {
        display: none;
    }
    .navbar-collapse {
        background-color: #acacacfa !important;
        color: white !important;
        height: 85vh;
        display: flex;
        box-shadow: 0px 0px 5px white;
        border: 1px solid black;
        row-gap: 7%;
        flex-direction: column;
        border-radius: 10px;
        visibility: visible;
    }
    .navbar-collapse .know-status:hover {
        background-color: transparent;
    }
    .navbar .container-fluid {
        width: 98vw;
    }
    .navbar-collapse {
        visibility: hidden;
    }
    .navbar-toggler-icon {
        display: none;
    }
}

@media screen and (max-width: 840px) {
    .navbar-nav {
        display: block;
    }
    .navbar {
        display: block;
        width: 0;
    }
    .navbar-collapse .know-status {
        padding: 0;
    }
    nav .nav-item:not(.navbar-collapse .nav-item,
    .my-photo-logo .nav-item) {
        display: none;
    }
    .navbar-collapse {
        visibility: visible;
        padding-top: 30%;
    }
    .navbar-toggler {
        margin-top: 30px;
    }
    .navbar-toggler-icon {
        display: block;
    }
    .my-photo-logo {
        visibility: visible;
        width: 13%;
        height: 100px;
        margin-left: 22%;
    }
    #nav-my-img {
        opacity: 1;
        width: 100%;
        height: 100%;
        transition: 1.4s all;
        border-radius: 50%;
    }
    .nav-link.dropdown-toggle {
        height: 100%;
    }
    .nav-item.dropdown {
        height: 100%;
        z-index: 10000;
    }
}

@media (max-width: 650px) {
    .navbar-toggler-icon {
        display: block;
    }
    .my-photo-logo {
        width: 18%;
    }
}