.bg-image {
    z-index: -10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(70%);
    background-image: linear-gradient(130deg, rgb(37, 37, 188) 60%, white 30%);
}

body {
    margin-top: 13%;
}

nav {
    display: flex;
    height: 100px;
    align-items: center;
    background-color: rgba(189, 189, 189, 0.863);
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
}

.navbar {
    display: inline;
}

nav .container .modal-dialog .modal-content {
    box-shadow: 0px 0px 50px white;
    border: 2px solid black;
    min-height: 300px;
}

.modal-body {
    text-align: center;
    font-family: roboto;
}

nav .know-status {
    box-shadow: none;
    font-family: monospace;
    background-color: transparent;
    border-radius: 5px;
    padding: 5px;
    transition: all 0.3s ease-in-out;
    border: none;
    font-size: 16px;
    color: white;
}


/* 
.nav-bar.nav {
    z-index: 50;
} */

nav .know-status:hover {
    letter-spacing: 1.5px;
    background-color: black;
}

nav .container {
    width: 20%;
    margin: 0;
    align-items: center;
    padding: 0% 3%;
}

nav .user-img {
    width: 20%;
    height: 100%;
    text-align: center;
}

nav .user-img img {
    border-radius: 50%;
}

.container {
    position: relative;
}

.modal-body a {
    font-family: roboto, sans-serif;
    font-style: italic;
    margin-left: 5%;
}

.modal .modal-header .modal-title {
    font-size: 24px;
    font-family: roboto;
    font-weight: bolder;
}

.modal-title {
    margin-left: 7%;
}

nav>.nav-item {
    text-align: right;
    padding-right: 4%;
    align-self: center;
}

nav .nav-item a {
    text-decoration: none;
}

.dropdown-menu.show {
    text-align: center;
}

.modal-body .content {
    display: flex;
}

.modal-body .content .logo {
    width: 35%;
}

.modal-body .footer {
    margin-top: 5%;
}

.modal-body .info-detail a {
    text-decoration: none;
}

.content .logo .job-description {
    font-size: 17px;
    font-weight: bold;
}

.content .my-info {
    font-size: 14px;
    width: 60%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.content .my-info>.info {
    margin: 0;
    width: 100%;
}

.content .my-info p {
    margin: 0;
}

.content .my-info .info-head {
    position: relative;
}

.content .my-info .info-head img {
    margin: 0% 4%;
}

.my-info .info-head::before {
    content: "";
    position: absolute;
    top: 0;
    left: -8px;
    width: 2px;
    height: 200%;
    background-color: blue;
    display: inline-block;
}

.my-info .info-head::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -130%;
    width: 300px;
    height: 2%;
    background-color: grey;
    display: inline-block;
}

.my-info .info-head~.info-detail {
    text-indent: 16%;
}