h2 {
    color: white;
    text-align: center;
    margin: 3%;
}

body .all-websites {
    width: 100%;
    margin: 0 auto;
}

.website img {
    width: 100%;
    height: 100%;
}

body .website {
    width: 100%;
    height: 600px;
    position: relative;
    margin-bottom: 5%;
}

.all-websites a {
    text-decoration: none;
    transition: all 0.3s;
    color: white;
}

.website-description a:hover {
    color: rgb(7, 156, 255);
}

.website .website-description {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    font-family: roboto;
    font-style: italic;
    font-size: 20px;
    font-weight: lighter;
    opacity: 0;
    transition: all 0.3s;
}

.website:hover .website-description {
    backdrop-filter: brightness(50%);
    opacity: 1;
}

@media (max-width: 600px) {
    .all-websites .website {
        height: 360px;
    }
    body h2 {
        margin-top: 30%;
    }
}