h2 {
    color: white;
    text-align: center;
    margin: 3%;
}

body .all-websites {
    width: 100%;
    margin: 0 auto;
}

.website img {
    width: 100%;
    height: 100%;
}

body .website {
    width: 100%;
    height: 600px;
    position: relative;
}

.all-websites a {
    text-decoration: none;
    transition: all 0.3s;
    color: white;
}

.website-description a:hover {
    color: rgb(13, 181, 232);
}

.website .website-description {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: roboto;
    font-style: italic;
    font-size: 20px;
    font-weight: lighter;
    opacity: 0;
    transition: all 0.3s;
}

.website:hover .website-description {
    backdrop-filter: blur(5px);
    opacity: 1;
}